    .boxmodel_h
    {
      clear: both;

      background-color: #f1ede8;
      box-shadow: 0px 5px 4px 8px rgba(0, 0, 0, 0.756);

      font-size: larger;

      width: 700px;
      height: auto;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5cm;
      margin-bottom: 2cm;

      top: 20%; 
      
    }
    .boxmodel_m {
      clear: both;
      background-color: #f1ede8;
      box-shadow: 0px 5px 4px 8px rgba(0, 0, 0, 0.756);
      font-family: cursive;
      width: 700px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5cm;
      margin-bottom: 2cm;
      
    }

  
    p {
      background-color: white;
    }

    .box-inset {
      border-style: dotted;
      padding-left: 0;
      padding-right: 0;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    .icenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      border: solid 4px grey;
      box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.756);
      background-color: rgb(230, 192, 185);
    }

    .Header {
      background-color: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
    }

    body {
      font-size: larger;
      text-align: center;
      background-image: url("../images/cool-background.png");
      background-size: contain;
      background-attachment: fixed;
      padding:0px;
      margin: 0px;
    }

    ul {
      width: 90px;
      margin-left: auto;
      margin-right: auto;
    }

    iframe {
        width: 80%;
        height: 300px;
    }
    
    .jb_box {
      width: 100%; 
      padding: 0px; margin: 0px; position: relative;

    }

    video { width: 100%;margin: 0px; display: flex;justify-content: center;}



    